body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
h1 {
    padding: 10px;
    background-image: url(../img/sobre-background.jpg);
}
h2 {
    margin-top: 30px;
    border-bottom: 2px solid #333333;
}
p {
    padding: 0 45px;
    text-indent: 15px;
    text-align: justify;
}
figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}
figcaption {
    font-style: italic;
    margin-top: 10px;
}

.menu-opcoes ul li	{
    display:	inline;
    margin-left: 20px;
}
.sacola	{
    background-image:	url(../img/sacola.png);
    background-repeat:	no-repeat;
    background-position:	top	right;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 35px;
    text-align:	right;
    width: 140px;
}
header	{
    position:	relative;
}
.menu-opcoes ul	{
    font-size: 15px;
    display:	inline;
    margin-left: 20px;
}
.menu-opcoes a {
    color: #003366;
    padding-top: 8px;
}
.container	{
    margin: 0	auto;
    width: 940px;
}
.logotipo	{
    position:	relative;
    top: 20px;
    left: 50px;
}
.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}
.busca,
.menu-departamentos {
background-color: #DCDCDC;
font-weight: bold;
text-transform: uppercase;
margin-right: 10px;
width: 230px;
margin-top: 10px;
padding-bottom: 10px;
}
.busca h2,
.busca form,
.menu-departamentos h2 {
margin: 10px;
}
.menu-departamentos li {
background-color: white;
margin-bottom: 1px;
padding: 5px 10px;
}
.menu-departamentos a {
color: #333333;
text-decoration: none;
}
.destaque {
margin-top: 10px;
}
.painel li {
display: inline-block;
vertical-align: top;
width: 140px;
margin: 2px;
padding-bottom: 10px;
}
.painel {
margin: 10px 0;
padding: 10px;
width: 445px;
}
.novidades {
float: left;
background-color: #F5DCDC;
}
.mais-vendidos {
float: right;
background-color: #DCDCF5;
}
.painel h2 {
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 10px;
}
.painel a {
color: #333;
font-size: 14px;
text-align: center;
text-decoration: none;
}
input[value] {
color: #CC0000;
}
div[class|="menu"] {
border-radius: 4px;
}
.facebook {
height: 55px;
width: 85px;
background-image: url(../img/facebook.png);
text-indent: -9999px;
}
.social a[href*="facebook.com"] {
background-image: url(../img/facebook.png);
height: 32px;
width: 32px;
}
footer {
padding: 20px 0;
}
footer .container {
position: relative;
}
.social {
position: absolute;
top: 12px;
right: 0;
}
.social li {
float: left;
margin-left: 25px;
}
footer{
clear: both;
background-image: url(../img/fundo-rodape.png);
}
.social a {
height: 32px;
width: 32px;
display: block;
text-indent: -9999px;
}
.social a[href*="facebook.com"] {
background-image: url(../img/facebook.png);
}
.social a[href*="twitter.com"] {
background-image: url(../img/twitter.png);
}
.social a[href*="plus.google.com"] {
background-image: url(../img/googleplus.png);
}
.busca button {
background-image: url(../img/busca.png);
background-repeat: no-repeat;
border: none;
width: 20px;
height: 20px;    
text-indent: -9999px;
}